/* Font declaration
=====================================*/

@import url('https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,600,700,800,900');


$raleway: 'Raleway', sans-serif;
$thin: 100;
$light: 300;
$normal: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$extrabold: 800;
$boldest-font: 900;
$transition: .4s ease;

/* Variables
==================================*/

$white: #fff;
$pink: #ff214f;
$yellow: #FFBB00;
$grey-text: #808080;
$grey-bg-text: #919899;
$grey: #ccc;
$light-grey: #f2f2f2;
$lightest-grey: #fbfbfb;
$light-grey-text: #f5f5f5;
$border-grey: #e5e5e5;
$black: #1e1e1e;
$coral: #f58770;
$dark-grey: #444;
$facebook-blue: #39539D;
$twitter-blue: #00CAFF;
$google-red: #ED391D;
$insta-blue: #33709F;
$youtube-red: #F70000;
$soundcloud-orange: #FF8300;
$dribble-pink: #FC2985;
$post-grey: #847C7C;
$green : #9fc358;



