@import url('https://use.fontawesome.com/releases/v5.0.9/css/all.css');
* {
  outline: none;
}
html {
  font-size: 62.5%;
}

html,
body {
  min-height: 100%;
  padding: 0;
  margin: 0;
}

body {
  @include rem("font-size", 16px);

  -webkit-font-smoothing: antialiased;
  font-family: $raleway;
  line-height: 1.4;
  font-weight: $medium;
  color: $grey-text;

}

div {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  @include rem("font-size", 16px);

  line-height: 1.4;
}

ul,
ol {
  li {
    @include rem("font-size", 16px);

    line-height: 1.4;
  }
}

a {
  text-decoration: none;
  display: inline-block;
  line-height: 1.4;
  color: $pink;
  transition: $transition;
  &:hover {
    color: $yellow;
    transition: $transition;
  }
}
h1 {
  @include vis-heading-h1($pink);
}

h2 {
  @include vis-heading-h2($pink);
}

h3 {
  @include vis-heading-h3($pink);
}

h4 {
  @include vis-heading-h4($pink);
}

h5 {
  @include vis-heading-h5($pink);
}


h6 {
  @include vis-heading-h6($pink);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  + p {
    &:first-child {
      margin-top: 0;
    }
  }
}

button {
  @include vis-button($pink);
  height: auto;
  width: auto;
}

mark {
  background: $yellow;
  color: $white;
  border-radius: 25px;
  padding: 2px 10px;
  display: inline-block;
}

blockquote {
  @include rem('padding', 5px 50px);
  position: relative;
  margin: 0;
  font-style: italic;
  border-left: 4px solid $yellow;
  background: $lightest-grey;

  p,
  span {
    @include rem('font-size', 18px);

    text-align: justify;
    color: $pink;
    hyphens: auto;

    @include media-breakpoint-down('md') {
      @include rem('font-size', 16px);
    }
  }
  a {
    text-decoration: underline;
  }

  &:before {
    @include rem('font-size', 30px);

    content: "\f10d";
    position: absolute;
    left: 10px;
    font-family: "Font Awesome\ 5 Free";
    font-weight: $semibold;
  }

}

code {
  @include rem('padding', 2px 4px);
  display: inline-block;
  background: rgba(255,33,79,.03);
  color: $pink;
  border-radius: 4px;
  border: 1px dashed $pink;
}
main {
  ul {
    list-style: none;
    padding: 0;
    li {
      @include rem('padding', 0 20px);
      background: url("../images/pink-bullet.jpg") no-repeat ;
      background-position: left top 8px;
    }
  }


  ol {
    list-style: none;
    counter-reset: li;
    padding: 0;
    li {
      @include rem('padding', 0 20px 0 30px);
      position: relative;
      counter-increment: li;
    }

    li:before {
      content: counter(li) ".";
      color: $pink;
      display: inline-block;
      width: 10px;
      position: absolute;
      left: 0;
    }
  }
}
nav,
.node__links {
  ul{
    list-style: none;
    li {
      background: none;
    }
  }
}
::selection {
  background: $pink;
  color: $white;
}
.tabs {
  > li {
    padding: 0;
  }
}

.field--name-user-picture {
  @include rem('width', 70px);
  @include rem('height', 70px);
  @include rem('margin', 0 0 5px 0);
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  float: none;
}